
body {
    background-image: url('imgs/background-6556414.jpg'); /* Adjust the path to your image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    color: black;
   
}
