body {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

i {
    font-size: 20px;
}

b {
    font-size: 20px;
}

.column-left {
    flex: 1.5;
    max-width: 600px;
}

.column-right {
    flex: 1;
    max-width: 400px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header {
    background-color: lightgray;
    color: black;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#title {
    margin: 0;
    flex-grow: 1;
    font-size: 30px;
}

#logo {
    width: 70px;
}

.portrait {
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    animation: fade-in 1s forwards;
    margin-top: 60px;
}

.portrait-container {
    position: relative;
    overflow: hidden;
}

#contact {
    background-image: url('imgs/background-6556414.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}




ul {
    list-style: none;
    padding: 0;
}

ul.social-icons {
    list-style: none;
    padding: 0;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

@media only screen and (max-width: 768px) {
    .column-left,
    .column-right {
        flex: 1;
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #title {
        margin-right: 0;
        text-align: center;
    }
}

/* Add this to your style.css file */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

li i {
    margin-right: 10px;
    font-size: 30px;
}

.contact-info,
.cv-download {
    text-align: center;
    max-width: 400px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.download-button:hover {
    background-color: #eee;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: whitesmoke;
}

nav a.active {
    color: whitesmoke;
}

/* --------------------------------- */
/* Projects Page */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.project-box {
    position: relative;
    width: 70%;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    border: 5px solid #ccc; 
    padding-left: 15px
}


.repo-button {
    position: absolute;
    bottom: 15px; 
    right: 15px; 
    background-color: purple;
    color: white;
    padding: 12px 20px; 
    border: none;
    border-radius: 8px; 
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px; 
    font-family: 'Quicksand', sans-serif;  
}

.repo-button i {
    margin-right: 8px; 
}

.technologies {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Add margin for separation from the paragraph */
}

.technology-logo {
    
    display: flex;
    align-items: center;
}

.technology-logo img {
    width: 50px; /* Adjust the width of the logos */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Add margin between logo and text */
}







